.contactForm .loading-animation { background-image:url(../css/images/contact_loading.gif); }

.epic-slider { background:url(../css/images/epic_slider_loading_gif.gif) no-repeat center center; }

 .epic-slider #slides li { background-color:#222222; }

.epic-slider #slides li .es-background .es-overlay { background:url(../css/images/epic_slider_overlay_pattern.png) repeat 0 0; }

.epic-slider #es-play:hover, .epic-slider #es-next:hover, .epic-slider #es-prev:hover, .epic-slider .es-fullscreen:hover, .epic-slider #es-progress-button,
.flex-direction-nav li a:hover {
	background-color:#FFC30E;
}

h1,h2,h3,h4,h5,h6,#section-title, h1 span,h2 span,h3 span,h4 span,h5 span,h6 span, #section-title span {
	font-family:"Source Sans Pro", sans-serif;
}

h1, h1 span { font-size:60px; line-height:55px; }
h2, h2 span { font-size:50px; line-height:47px; }
h3, h3 span { font-size:40px; line-height:38px; }
h4, h4 span { font-size:30px; line-height:29px; }
h5, h5 span { font-size:25px; line-height:25px; }
h6, h6 span { font-size:20px; line-height:20px; }
#section-title,
#section-title h1, #section-title h1 span,
#section-title h2, #section-title h2 span,
#section-title h3, #section-title h3 span,
#section-title h4, #section-title h4 span,
#section-title h5, #section-title h5 span,
#section-title h6, #section-title h6 span {
	font-size:75px; line-height:75px;
}

.display-image .boxed .size-1, .display-image .boxed .size-2, .display-image .boxed .size-3, .display-image .boxed .size-4, .display-image .boxed .size-5, .display-image .boxed .size-6,
.epic-slider .boxed .size-1, .epic-slider .boxed .size-2, .epic-slider .boxed .size-3, .epic-slider .boxed .size-4, .epic-slider .boxed .size-5, .epic-slider .boxed .size-6,
.display-image .elegant .size-1, .display-image .elegant .size-2, .display-image .elegant .size-3, .display-image .elegant .size-4, .display-image .elegant .size-5, .display-image .elegant .size-6,
.epic-slider .elegant .size-1, .epic-slider .elegant .size-2, .epic-slider .elegant .size-3, .epic-slider .elegant .size-4, .epic-slider .elegant .size-5, .epic-slider .elegant .size-6,
.display-image .impact .size-1, .display-image .impact .size-2, .display-image .impact .size-3, .display-image .impact .size-4, .display-image .impact .size-5, .display-image .impact .size-6,
.epic-slider .impact .size-1, .epic-slider .impact .size-2, .epic-slider .impact .size-3, .epic-slider .impact .size-4, .epic-slider .impact .size-5, .epic-slider .impact .size-6,
.display-image .single-border .size-1, .display-image .single-border .size-2, .display-image .single-border .size-3, .display-image .single-border .size-4, .display-image .single-border .size-5, .display-image .single-border .size-6,
.epic-slider .single-border .size-1, .epic-slider .single-border .size-2, .epic-slider .single-border .size-3, .epic-slider .single-border .size-4, .epic-slider .single-border .size-5, .epic-slider .single-border .size-6,
.display-image .striped .size-1, .display-image .striped .size-2, .display-image .striped .size-3, .display-image .striped .size-4, .display-image .striped .size-5, .display-image .striped .size-6,
.epic-slider .striped .size-1, .epic-slider .striped .size-2, .epic-slider .striped .size-3, .epic-slider .striped .size-4, .epic-slider .striped .size-5, .epic-slider .striped .size-6 {
	font-family:"Source Sans Pro", sans-serif;
}

.display-image .boxed .size-1, .epic-slider .boxed .size-1,
.display-image .elegant .size-1, .epic-slider .elegant .size-1,
.display-image .impact .size-1, .epic-slider .impact .size-1,
.display-image .single-border .size-1, .epic-slider .single-border .size-1,
.display-image .striped .size-1, .epic-slider .striped .size-1 {
	font-size:82px; line-height:72px;
}

.display-image .boxed .size-2, .epic-slider .boxed .size-2,
.display-image .elegant .size-2, .epic-slider .elegant .size-2,
.display-image .impact .size-2, .epic-slider .impact .size-2,
.display-image .single-border .size-2, .epic-slider .single-border .size-2,
.display-image .striped .size-2, .epic-slider .striped .size-2 {
	font-size:62px; line-height:62px;
}

.display-image .boxed .size-3, .epic-slider .boxed .size-3,
.display-image .elegant .size-3, .epic-slider .elegant .size-3,
.display-image .impact .size-3, .epic-slider .impact .size-3,
.display-image .single-border .size-3, .epic-slider .single-border .size-3,
.display-image .striped .size-3, .epic-slider .striped .size-3 {
	font-size:52px; line-height:52px;
}

.display-image .boxed .size-4, .epic-slider .boxed .size-4,
.display-image .elegant .size-4, .epic-slider .elegant .size-4,
.display-image .impact .size-4, .epic-slider .impact .size-4,
.display-image .single-border .size-4, .epic-slider .single-border .size-4,
.display-image .striped .size-4, .epic-slider .striped .size-4 {
	font-size:42px; line-height:42px;
}

.display-image .boxed .size-5, .epic-slider .boxed .size-5,
.display-image .elegant .size-5, .epic-slider .elegant .size-5,
.display-image .impact .size-5, .epic-slider .impact .size-5,
.display-image .single-border .size-5, .epic-slider .single-border .size-5,
.display-image .striped .size-5, .epic-slider .striped .size-5 {
	font-size:32px; line-height:32px;
}

.display-image .boxed .size-6, .epic-slider .boxed .size-6,
.display-image .elegant .size-6, .epic-slider .elegant .size-6,
.display-image .impact .size-6, .epic-slider .impact .size-6,
.display-image .single-border .size-6, .epic-slider .single-border .size-6,
.display-image .striped .size-6, .epic-slider .striped .size-6 {
	font-size:22px; line-height:22px;
}

.thumb a .thumb-rollover .thumbInfo { font-family:"Source Sans Pro", sans-serif; font-size:16px; line-height:16px; }

body { background:#000000; color:#555555; }

h1, h1 span,
h2, h2 span,
h3, h3 span,
h4, h4 span,
h5, h5 span,
h6, h6 span,
#section-title,
#section-title h1, #section-title h1 span,
#section-title h2, #section-title h2 span,
#section-title h3, #section-title h3 span,
#section-title h4, #section-title h4 span,
#section-title h5, #section-title h5 span,
#section-title h6, #section-title h6 span,
.blog-post-content .blog-post-title, .blog-post-content .blog-post-title a,
.blog-post-grid-content h2, .blog-post-grid-content h2 span, .blog-post-grid-content h2 a,
.blog-post-content .blog-post-meta span,
section#comments h2#comments-title, section#comments h3#reply-title {
	color:#666666;
}

.blog-post-content .blog-post-title a:hover { color:#FFC30E; }

.blog-post-content .blog-post-meta { color:#555555; }

a { color:#FFC30E; }
a:hover { color:#FFC30E; }

aside.sidebar ul li h4.widget-title, aside.sidebar ul li h4.widget-title span {
	color:#666666;
}

aside.sidebar ul li ul li a, .footer-widget a { color:#444444; }
aside.sidebar ul li ul li a:hover, .footer-widget a:hover { color:#FFC30E; }

.widget_tag_cloud a, .post-tags a { background-color:#333333; color:#666666; }
.widget_tag_cloud a:hover, .post-tags a:hover { background-color:#222222; color:#ffffff; }

.widget_calendar #wp-calendar tbody td { background-color:#333333; color:#666666; }
.widget_calendar #wp-calendar tbody td a { color:#FFC30E; }
.widget_calendar #wp-calendar tbody td a:hover { color:#FFC30E; }
.widget_calendar #wp-calendar tbody td:hover { background-color:#222222; color:#ffffff; }

.sticky .blog-post-content { background-color:#151515; }
#content-inner-blog-grid #blog-grid-container article.sticky .blog-post-grid-content-inner { background-color:#151515; }

section#comments ol.comment-list li.depth-1 > div, ol.comment-list li ul.children li { background-color:#151515; }
section#comments ol.comment-list li ul.children li:after {
	border-top:0;
	border-right:25px solid #151515;
	border-bottom:15px solid transparent;
	border-left:0;
}
@media only screen and (max-width: 767px) {
	section#comments ol.comment-list li ul.children li:after {
		border-top:0;
		border-right:10px solid transparent;
		border-bottom:10px solid #151515 !important;
		border-left:0;
	}
}

section#comments ol.comment-list li.comment { border-color:#222222 !important; }
section#comments ol.comment-list li.comment .commentary .comment-meta,
section#comments ol.comment-list li.comment .commentary .comment-author { color:#555555; }
section#comments ol.comment-list li.comment .commentary .comment-meta a { color:#FFC30E; }
section#comments ol.comment-list li.comment .commentary .comment-meta a:hover { color:#FFC30E; }

.blog-post-meta-date, .blog-post-grid-content .blog-post-meta-date { border-color:#ffffff; color:#ffffff; }

::selection { background:#ff2e2e; color:#fff; }
::-moz-selection { background:#ff2e2e; color:#fff; }
::-webkit-selection { background:#ff2e2e; color:#fff; }

#header-wrapper .mobile-widget-box-toggle-wrapper { background-color:#000000; }
#header-wrapper .header-widget-box {
	background:#151515;
	color:#555555;
}
#header-wrapper .header-widget-wrapper ul li h4.widget-title, #header-wrapper .header-widget-wrapper ul li h4.widget-title span {
	color:#444444;
}
#header-wrapper .header-widget-wrapper a { color:#444444; }
#header-wrapper .header-widget-wrapper a:hover { color:#FFC30E; }

#header-wrapper {
	background:#151515;
}

header nav#primary-nav ul li a { color:#666666; }
header nav#primary-nav ul li a:hover { color:#FFFFFF; }
header nav#primary-nav ul li.current-menu-item a, header nav#primary-nav ul li.current_page_item a,
header nav#primary-nav ul li.current-menu-ancestor a, header nav#primary-nav ul li.current_page_parent a {
	color:#FFFFFF;
}

header nav#primary-nav ul li ul.sub-menu li, header nav#primary-nav ul li ul.children li {
	background:#151515;
	background:rgba(21,21,21,0.9);
}
header nav#primary-nav ul li:after { border-color:#333333; }
header nav#primary-nav ul li ul.sub-menu li a,header nav#primary-nav ul li ul.children li a { color:#666666; }
header nav#primary-nav ul li ul.sub-menu li a:hover,header nav#primary-nav ul li ul.children li a:hover { color:#FFFFFF; }
header nav#primary-nav ul li ul.sub-menu li.current-menu-item a,header nav#primary-nav ul li ul.children li.current_page_item a { color:#FFFFFF; }
header nav#primary-nav ul.mobile-navigation li ul.sub-menu li a, header nav#primary-nav ul.mobile-navigation li ul.children li a { color:#666666; }
header nav#primary-nav ul.mobile-navigation li ul.sub-menu li a:hover, header nav#primary-nav ul.mobile-navigation li ul.children li a:hover { color:#FFFFFF; }
header nav#primary-nav ul.mobile-navigation li ul.sub-menu li.current-menu-item a,
header nav#primary-nav ul.mobile-navigation li ul.sub-menu li.current_page_item a { color:#FFFFFF; }
header nav#primary-nav ul.mobile-navigation li.current-menu-ancestor a, header nav#primary-nav ul.mobile-navigation li.current_page_parent a { color:#FFFFFF; }
header nav#primary-nav ul.mobile-navigation li.current-menu-ancestor ul.sub-menu li.current-menu-item a, header nav#primary-nav ul.mobile-navigation li.current_page_parent ul.children li.current_page_item a { color:#FFFFFF; }
header nav#primary-nav ul.mobile-navigation li.current-menu-ancestor a, header nav#primary-nav ul.mobile-navigation li.current_page_parent a { color:#FFFFFF; }

header .mobile-menu-toggle,
#header-wrapper .header-widget-wrapper ul li { border-color:#333333; }

.blog header nav#primary-nav ul.mobile-navigation li.current-menu-item a, .blog header nav#primary-nav ul.mobile-navigation li.current_page_item a,
.single-post header nav#primary-nav ul.mobile-navigation li.current-menu-ancestor a, .single-post header nav#primary-nav ul.mobile-navigation li.current_page_parent a {
	color:#FFFFFF;
}

.text-field, textarea, .widget_search #searchform input#s {
	background-color:#151515;
	border-color:#151515;
	color:#999999;
}
.text-field:hover, textarea:hover, .widget_search #searchform input#s:hover {
	background-color:#222222;
	border-color:#222222;
	color:#FFFFFF;
}
.text-field:focus, textarea:focus, .widget_search #searchform input#s:focus {
	background-color:#222222;
	border-color:#222222;
	color:#FFFFFF;
}

.submitTheme, #commentform #submit, .blog-post-content .blog-post-read-more, .blog-post-grid-content .blog-post-read-more {
	background-color:#FFC30E !important;
	color:#ffffff !important;
}

.errorMsg {
	color:#ff2e2e !important;
}

.errorOutline {
	border-color:#ff2e2e !important;
}

.accordion dt, .tabs .tabs_nav li {
	background-color:#333333;
}
.accordion dt, .accordion dd, .tabs .tabs_nav li, .tabs .tabs_content {
	border-color:#333333;
}
.accordion dt.active, .tabs .tabs_nav li.active {
	background-color:#FFC30E;
	border-color:#FFC30E;
}
.accordion dt a, .tabs .tabs_nav li a, .accordion dt a:hover, .tabs .tabs_nav li a:hover {
	color:#666666;
}
.accordion dt.active a, .tabs .tabs_nav li.active a, .accordion dt.active a:hover, .tabs .tabs_nav li.active a:hover {
	color:#ffffff;
}
.accordion dd, .tabs .tabs_content {
	background-color:#151515;
}

blockquote, blockquote.elegant, blockquote.boxed { border-color:#444444; }
blockquote, blockquote.elegant, blockquote.boxed, blockquote.overlayed { color:#666666; }
blockquote.boxed-background, blockquote.striped span {
	background-color:#151515;
	color:#666666;
}
blockquote.elegant { background-image:url(../css/images/blockquote_elegant.png); }
blockquote.overlayed { background-image:url(../css/images/blockquote_overlayed.png); }

.caption.elegant, .caption.single-border, .caption.impact, .es-caption.elegant, .es-caption.single-border, .es-caption.impact {
	color:#ffffff;
}
.caption .divider, .epic-slider .divider { border-color:#ffffff !important; }
.caption.elegant a, .caption.single-border a, .caption.impact a, .es-caption.elegant a, .es-caption.single-border a, .es-caption.impact a {
	color:#ffffff;
}
.caption.elegant a:hover, .caption.single-border a:hover, .caption.impact a:hover, .es-caption.elegant a:hover, .es-caption.single-border a:hover, .es-caption.impact a:hover {
	color:#FFC30E;
}
.caption.striped span, .es-caption.striped span {
	background-color:#000000;
	background-color:rgba(0,0,0,0.7);
	color:#ffffff;
}
.caption.boxed, .es-caption.boxed, .es-caption.default {
	background-color:#000000;
	background-color:rgba(0,0,0,0.7);
	color:#ffffff;
}
.caption.boxed .divider, .es-caption.boxed .divider { border-color:#ffffff; }
.caption.boxed a, .es-caption.boxed a, .caption.striped a span, .es-caption.striped a span {
	color:#ffffff;
}
.caption.boxed a:hover, .es-caption.boxed a:hover { color:#FFC30E; }
.caption.striped a:hover span, .es-caption.striped a:hover span { background-color:#FFC30E; }
.flex-caption {
	background-color:#000000;
	background-color:rgba(0,0,0,0.7);
	color:#ffffff;
}
.flex-caption a { color:#ffffff; }
.flex-caption a:hover { color:#FFC30E; }

@media only screen and (max-width: 767px) {
	.caption { border:1px solid #222222 !important; background:#000000 !important; }
	.display-image .caption .size-1,.display-image .caption .size-2,.display-image .caption .size-3,.display-image .caption .size-4,.display-image .caption .size-5,.display-image .caption .size-6 { color:#666666 !important; }
	.display-image .caption p { color:#555555; }
	.caption.elegant a, .caption.single-border a, .caption.impact a {
		color:#FFC30E;
	}
	.caption.elegant a:hover, .caption.single-border a:hover, .caption.impact a:hover {
		color:#FFC30E;
	}
	.caption.boxed a, .caption.striped a span {
		color:#FFC30E;
	}
	.caption.boxed a:hover, .caption.striped a:hover span {
		color:#FFC30E;
	}
	.caption.striped span, .caption.striped a:hover span {
		background-color:#000000;
	}
}

.chart-container ul.chart li div.bar {
	background-color:#222222;
	color:#ffffff;
}

.chart-container ul.chart li div.bar-track {
	background-color:#333333;
}

ul.socialSmall li a { background-color:#000000; }

#header-wrapper #header-inner,
#section-title,
#content-wrapper section.portfolio-below-content .sub-section-title, #content-wrapper section.latest-posts-below-content .sub-section-title,
article.blog-post,
#footer-wrapper #footer-top, #footer-wrapper #footer-bottom, #footer-wrapper #footer-bottom .back-to-top,
aside.sidebar,
aside.sidebar ul li,
#header-wrapper.is_tablet #header-inner .mobile-menu-toggle,
.pagination, #content-inner-blog-grid .pagination,
header nav#primary-nav ul.mobile-navigation li ul.sub-menu,
.divider {
	border-color:#222222 !important;
}

@media only screen and (max-width: 959px) {
	header .mobile-menu-toggle,
	header nav#primary-nav ul.mobile-navigation li ul.sub-menu,
	header nav ul.menu li ul.sub-menu,header nav#primary-nav .menu ul li ul.children {
		border-color:#333333 !important;
	}
}

aside.sidebar ul li ul li{ border:none !important; }

.pricing_table .pricing_table_col, .pricing_table .pricing_table_col > ul > li {
	border-color:#000000;
}
.pricing_table .pricing_table_col > ul > li:first-child {
	background-color:#333333;
	color:#ffffff;
}
.pricing_table .pricing_table_col > ul > li.pricing_table_bg {
	background-color:#ffffff;
	color:#666666;
}
.pricing_table .pricing_table_col > ul > li span.price, .pricing_table .pricing_table_col > ul > li span.price_affix {
	color:#666666;
}
.pricing_table .pricing_table_col > ul > li.pricing_table_bg {
	background:#ffffff;
}
.pricing_table .pricing_table_col {
	background:#f9f9f9;
}
.pricing_table .pricing_table_col > ul > li {
	color:#777777;
}

.pricing_table .pricing_table_col:hover { background-color:#ffffff; }
.pricing_table .pricing_table_col:hover > ul > li:first-child {
	background-color:#FFC30E;
}

.portfolio-filter-wrapper { background-color:#000000; }
.portfolio-filter-wrapper a { color:#555555; }
.portfolio-filter-wrapper a:hover { color:#555555; border-color:#555555; }
.portfolio-filter-wrapper a.active { color:#ffffff; border-color:#ffffff; }

.pagination a, .wp-link-pages a, .widget_calendar #wp-calendar tfoot #next a, .widget_calendar #wp-calendar tfoot #prev a,
#folio-navigation ul li#closeProject a, #folio-navigation ul li#nextProject a, #folio-navigation ul li#prevProject a,
#folio-navigation ul li#nextProject.disabled, #folio-navigation ul li#prevProject.disabled,
.portfolio-button a {
	color:#555555; border-color:#222222;
}
.pagination a:hover, .wp-link-pages a:hover, .widget_calendar #wp-calendar tfoot #next a:hover, .widget_calendar #wp-calendar tfoot #prev a:hover,
#folio-navigation ul li#closeProject a:hover, #folio-navigation ul li#nextProject a:hover, #folio-navigation ul li#prevProject a:hover,
.portfolio-button a:hover {
	color:#555555; border-color:#555555;
}

#fancybox-left-ico:hover, #fancybox-right-ico:hover {
	background-color:#FFC30E;
}
